@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

@hintergrund: #000000;
@schriftfarbe: #FFFFFF;


body{
    /* background-color: @hintergrund;
    -webkit-font-smoothing: anitialiased; */
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}


p > a:hover{
    color: #d9d9d9;
    text-decoration: underline;
}

.social{
    width: 350px;
    margin: 0 auto;
    background-color: black;
}

.so-icon{
    color: #fff;
}

ul.so-icon{
    margin-top: 100px;
}

.so-icon li{
    vertical-align: left;
}

.so-icon a{
    /* color: #schriftfarbe; */
    text-decoration: none;
}

.fa-facebook{
    padding: 10px 14px 7px 14px;
    -o-transition: .5s;
    -ms-transition: .5s;
    /* .moz-transition: .5s; */
    -webkit-transition: .5s;
    transition: 5s;
    /* background-color: @hintergrund; */
}

.fa-facebook:hover{
    background-color: #3D5B99;

}

.fa-whatsapp{
    padding: 10px 14px 7px 14px;
    -o-transition: .5s;
    -ms-transition: .5s;
    /* .moz-transition: .5s; */
    -webkit-transition: .5s;
    transition: 5s;
    /* background-color: @hintergrund; */
}

.fa-whatsapp:hover{
    background-color: lightgreen;
}



.sticky{
   position: sticky;
   z-index: 1;
   height: 800px;
   transition: all .3s ease-in-out;
   top: 10vh;
   padding: 2em;
   background-color: white;
   border-radius: 5px 5px;

}

.sticky:hover{
    transform: scale(1.02) rotate(0deg) translate(0px);
}




/*CSS grid layout*/
.abt{
    display: grid;
    text-align: left;
    height: 20vh;
    width: 40vh;
    margin-top: 200px;
    margin-bottom: 400px;
}


  
.about{
    text-align: center;
    padding: 0px 0px 80px ;
    border: 1px solid black;
    margin-left: 250px;
    font-size: 20px;
    /* margin-top: 200px; */
    margin-bottom: 200px;
}

.flex_abt{
    display: flex;
    /* margin-top: 400px; */
}

.abt_img{
    border: 1px solid black;
    margin-left: 130px;
    height: 40vh;
    width: 50vh;
    margin-top: 200px;
    margin-bottom: 200px;

}

h2{
    text-align: center;
}

.first{
    
}

.nav-bar{
    list-style-type: none;
    display: flex;
    gap: 20px;
    margin-left: 1000px;
}

h1{
    margin-left: 100px;
    padding: 20px;
    font-size: 100px;
}

.flex2{
    display: flex;
}

h4{
    margin-left: 50px;
    padding: 50px;
    font-size: 30px;
}

select{
    margin-left: 100px;
    padding: 3px 50px 3px;
    text-align: center;
     
    
}

h3{
    margin-left: 870px;
    font-size: 24px;
}

option{
    text-align: center;
}

.second{
    display: grid;
    display: flex;
    
}


.third{
    display: grid;
    margin-top: 200px;
    margin-bottom: 200px;
    /* gap: 10px; */


}

/* Flexing 3 images */

.flex{
    display: flex;
    gap: 30px;
    /* padding: ; */
    margin-left: 650px;
    width: 50px;
    height: 70px;
}

.rice{

}

.cake{

}

.dessert{

}

.four{
    display: grid;
    margin-top: 100px;
    

}

hr{
    width: 50px;
    border: 1px solid black;
}
.foo{
    

}

.flw{
    display: flex;
    gap: 200px;
    margin-left: 350px;
}



.same{

}

.foo2{
    text-align: center;
}
