.first{

}

.nav-bar{
    list-style-type: none;
    display: flex;
    gap: 20px;
    margin-left: 1000px;
}

h1{
    margin-left: 100px;
    padding: 20px;
    font-size: 100px;
}


.img-grid{
    display: grid;
    margin-top: 400px;
}
.flex{
    display: flex;
    gap: 50px;
    margin-left: 600px;
}

.brownies{

}

.jamuns{

}

.ladd{

}

.order-para{

}

.para1{

}

.para2{

}

.contact{

}

.call{

}

.whatsApp{

}

hr{
    width: 50px;
    border: 1px solid black;
}

.four{
    display: grid;
    margin-top: 100px;
}

.foo{

}

.flw{
    display: flex;
    gap: 200px;
    margin-left: 350px;
}


.same{

}

.foo2{
    text-align: center;
    
}

}

.foo2{
    
}
